// -----------------------------------------------------------------------------
// This file contains all styles related to the container of the site/application.
// -----------------------------------------------------------------------------

.container {
  display: grid;
  margin: 80px 24px;
  justify-content: center;
  grid-gap: 40px 48px;
}
