// -----------------------------------------------------------------------------
// This file contains all styles related to the hero component.
// -----------------------------------------------------------------------------

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;

  @include media('>=1440px') {
    width: 445px;
  }

  h1 {
    margin-top: 0;
  }
  p {
    padding-top: 2px;
  }
}
