// -----------------------------------------------------------------------------
// This file contains all styles related to the rating component.
// -----------------------------------------------------------------------------

.rating {
  display: grid;
  grid-gap: 16px;
  height: 266px;
}

.ratingblock {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px;

  &__5stars {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8px;
    margin-top: 0.1em;
  }
  &__text {
    margin-top: 0.4em;
  }
}
