// -----------------------------------------------------------------------------
// This file contains all styles related to the rating component.
// -----------------------------------------------------------------------------

.rating {
  display: grid;
  grid-gap: 16px;
  height: 266px;
}

.ratingblock {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
