// -----------------------------------------------------------------------------
// This file contains all styles related to the rating component.
// -----------------------------------------------------------------------------

.rating {
  display: grid;
  grid-gap: 16px;
  height: 266px;
  grid-template: 1fr 1fr 1fr / 1fr;

  @include media('>375px', '<576px') {
    :nth-child(1) {
      justify-self: start;
    }
    :nth-child(2) {
      justify-self: center;
    }
    :nth-child(3) {
      justify-self: end;
    }
  }
  @include media('>=1440px') {
    width: 540px;
    grid-area: 1/1;
    justify-self: end;
  }

  .ratingblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 327px;

    @include media('>=1440px') {
      width: 445px;
    }

    &__5stars {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 8px;
      padding-top: 0.1em;
    }
    &__text {
      padding-top: 1.1em;
    }
  }
}
