// -----------------------------------------------------------------------------
// This file contains all layouts related to the testimonials component.
// -----------------------------------------------------------------------------

.testimonials {
  display: grid;
  grid-template:
    1fr
    1fr
    1fr / 1fr;
  grid-gap: 16px;
  margin-top: 0.6em;

  @include media('>375px', '<=1060px') {
    :nth-child(2) {
      justify-self: center;
    }
    :nth-child(3) {
      justify-self: end;
    }
  }

  @include media('>1060px', '<1920px') {
    grid-template: 1fr / 1fr 1fr 1fr;
    grid-gap: 30px;
    height: 266px;
    max-width: 1110px;

    :nth-child(1) {
      align-self: start;
    }
    :nth-child(2) {
      align-self: center;
    }
    :nth-child(3) {
      align-self: end;
    }
  }

  .testiblock {
    display: grid;
    grid-template: 1fr 2fr / 1fr;
    padding: 40px 31px;
    grid-gap: 23px;

    &__container {
      display: grid;
      grid-template: 1fr / 1fr 3.1fr;
      height: 3.3em;
    }

    &__text {
      justify-content: center;
      display: flex;
      flex-direction: column;
      @include media('>375px', '<=1060px') {
        justify-self: start;
        margin-top: 3px;
      }
    }
  }
}
