// -----------------------------------------------------------------------------
// This file contains all layouts related to the testimonials component.
// -----------------------------------------------------------------------------

.testimonials {
  display: grid;
  grid-template:
    1fr
    1fr
    1fr / 1fr;
  grid-gap: 16px;

  .testiblock {
    display: grid;
    grid-template: 1fr 2fr / 1fr;
    padding: 40px 32px;
    &__container {
      display: grid;
      grid-template: 1fr / 1fr 3fr;
      height: 40px;
    }
    &__text {
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  }
}
