// -----------------------------------------------------------------------------
// This file contains all styles related to the hero component.
// -----------------------------------------------------------------------------

.hero {
  h1 {
    letter-spacing: $heroH1LetterSpacing;
    font-weight: $heroH1FontWeight;
    font-size: $heroH1FontSize;
    line-height: $heroH1LineHeight;

    @include media('>=1440px') {
      font-size: $heroH1FontSizeLrg;
      line-height: $heroH1LineHeightLrg;
      letter-spacing: -1.71429px;
    }

  }
  p {
    font-weight: $fontMed;
    font-size: $normalFontSize;
    letter-spacing: $heroPLetterSpacing;
    line-height: $heroPLineHeight;
  }
}
