// -----------------------------------------------------------------------------
// This file contains all styles related to the rating component.
// -----------------------------------------------------------------------------

.ratingblock {
  height: 78px;
  background-color: $lightGrayishMagenta;
  font-weight: $fontBold;
  color: $veryDarkMegenta;
  border-radius: 8px;
  font-size: $smallFontSize;

  &__5stars {
    justify-self: center;
  }
}
