// -----------------------------------------------------------------------------
// This file contains all styles related to the testimonials component.
// -----------------------------------------------------------------------------

.testiblock {
  height: 248px;
  width: 327px;
  background-color: $veryDarkMegenta;
  border-radius: 8px;
  font-size: $smallFontSize;
  font-weight: $fontMed;
  color: white;

  &__container {
    img {
      height: 40px;
      width: 40px;
      border-radius: 50px;
    }
  }

    &__text {
      :nth-child(1) {
        line-height: 14.56px;
        font-weight: $fontBold;
        padding: 0 0 6px;
      }
      :nth-child(2) {
        line-height: 14.56px;
        font-weight: $fontNorm;
        color: $softPink;
      }
    }
}
