// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$veryDarkMegenta: hsl(300, 43%, 22%);
$softPink: hsl(333, 80%, 67%);

$darkGrayishMagenta: hsl(303, 10%, 53%);
$lightGrayishMagenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

$normalFontSize: 15px;
$smallFontSize: 13px;

$fontFamily: 'Spartan', Arial;
$fontNorm: 400;
$fontMed: 500;
$fontBold: 700;

 

$heroH1LetterSpacing: -1.14286px;
$heroH1LineHeight: 32px;
$heroH1FontSize: 32px;
$heroH1FontWeight: 32px;

$heroPLetterSpacing: -0.5px;
$heroPLineHeight: 25px; 
$heroPFontSize: 15px;

$testiLetterSpacing: -0.232143px;

