// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$veryDarkMegenta: hsl(300, 43%, 22%);
$softPink: hs1(333, 80%, 67%);

$darkGrayishMagenta: hsl(303, 10%, 53%);
$lightGrayMagenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

$fontSize: 15px;

$fontFamily: 'Spartan', Arial;
$fontWeightNorm: 400;
$fontWeightMed: 500;
$fontWeightBold: 700;
