/**
 * Basic typography style for copy text
 */
body {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $darkGrayishMagenta;
}

h1 {
  color: $veryDarkMegenta;
  font-size: 32px; //change from pixels later
}
